@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.section {
  display: flex;
  justify-content: flex-start; /* aligns items on the row axis to the start */
  align-items: center; /* aligns items on the column axis */
  background-size: cover;
  background-position: center;
}

.section1 {
  background-image: url('/public/images/section_1.jpg');
  font-family: 'Oswald', Courier, monospace;
}

.section_1-title {
  color: rgb(239, 235, 235);
  font-size: 5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  text-align: left;
  padding-right: 80vh; /* adjust as needed */
  padding-left:  10vh;;
}

.unselectable {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
}


.section2 {
  /* background-image: url(path_to_image2); */
  background-image: url('/public/images/section_2.jpg');

}

.section3 {
  /* background-image: url(path_to_image3); */
  background-image: url('/public/images/section_3.jpg');

}

.section4 {
  /* background-image: url(path_to_image4); */
  background-image: url('/public/images/section_4.jpg');

}

.section5 {
  /* background-image: url(path_to_image5); */
  background-image: url('/public/images/section_5.jpg');

}